<%- include("./userTemplates/headerUser") %><%-
include("./userTemplates/navUser") %>
<h1>Author login</h1>
<form id="login-form" action="/admin/author/verification" method="post">
  <input type="text" name="email" id="email" placeholder="Enter email" />

  <input
    type="password"
    name="password"
    id="password"
    placeholder="Enter password"
  />

  <input type="submit" />
</form>

<div class="error-message">
  <% if (typeof error !== 'undefined') { %>
  <p><%= error %></p>
  <% } %>
</div>

<a class="buttons" href="/">Back</a>
<%- include("./userTemplates/footerUser") %>
