<%- include('./userTemplates/headerUser') %> <%-
include('./userTemplates/navUser') %>

<main>
  <h1>Search article</h1>
  <section>
    <form id="search-form" action="/search/1" method="POST" autocomplete="on">
      <label for="search">Search</label>
      <input
        id="search"
        name="search"
        type="search"
        placeholder="Enter search term here"
      />
      <input class="submit" type="submit" />
    </form>

    <div class="error-message">
      <% if (typeof error !== 'undefined') { %>

      <p><%= error %></p>

      <% } %>
    </div>

    <a class="buttons" href="/entries/1">Back</a>
  </section>
</main>

<%- include("./userTemplates/footerUser") %>
