:root {
  --dark: #212529;
  --medium: #e8e5e5;
  --light: #fff;
  --feature: #420e0e;
}
/* ALL PAGES */
* {
  margin: 0;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;

}

header {
  color: var(--light);
  background-image: url(../resources/san_cristobal.jpg);
  padding: 40px;
  text-align: center;
  width: 100%;
  font-size: 20px;
}

.error-message {
  color: var(--feature);
  font-style: italic;
  margin-bottom: 30px;
}

h1 {
  font-size: 40px;
  padding: 15px;
  color: var(--feature);
}

h4,
h2 {
  margin: 40px 10px 10px;
  color: var(--feature);
}
.home-h2 {
  margin: 40px 10px 10px;
  color: var(--feature);
  font-size: 20px;
}
p {
  margin: 10px;
}
img {
  width: 100%;
}

.top-border {
  margin: 60px 20px 10px 20px;
  padding: 20px 30px 20px 50px;
  border-top: var(--feature) solid 1px;
}


/* nav */
nav {
  height: 50px;
  width: 100%;
  background-color: var(--dark);
  display: flex;
  justify-content: space-between;
}
.hamburger-btn {
  position: relative;
  left: 75%;
  font-size: 30px;
  color: var(--light);
  line-height: 50px;
  cursor: pointer;
}

.nav-list {
  padding: 0 20px;
  position: relative;
  top: 20px;
  margin: 15px 0;
  display: inline;
  width: fit-content;
  height: 0;
  background: var(--dark);
  opacity: 0.9;
  text-align: center;
  transition: all 0.5s;
}

.nav-list li {
  opacity: 0;
  line-height: 30px;
  margin: 30px 0;
  transition: all 0.5s;
}

.nav-list li a {
  font-weight: bold;
  color: #ffffff;
  font-size: 20px;
  text-decoration: none;
  transition: all 0.5s;
}

.nav-list li a.active,
.nav-list li a:hover {
  color: white;
  transition: 0.5s;
}

#check {
  display: none;
}

#check:checked ~ .nav-list {
  height: fit-content;
}

#check:checked ~ .nav-list li {
  opacity: 1;
}
/* end nav */

/* table */
table {
  display: block;
  margin-top: 20px;
  border-collapse: collapse;
  max-width: 80%;
  overflow-x: auto;
  white-space: nowrap;
}

td,
th {
  border: 1px solid var(--dark);
  text-align: left;
  padding: 10px;
}

tr:nth-child(even) {
  background-color: var(--medium);
}
table img {
  max-width: 15vw;
}
.title-td {
  font-weight: bold;
  color: var(--feature);
}

.table-buttons {
  color: var(--feature);
}

/* form  */
input#picture,
#hide {
  display: none;
}
#hidden-search-form {
  display: inline;
}

input[type="text"],
input[type="file"],
input[type="search"],
textarea {
  display: block;
  background-color: var(--medium);
  padding: 12px 20px;
  width: 80%;
  margin: 10px auto 20px !important;
  border: 1px solid var(--dark);
  color: var(--dark);
}

/* #create-entry textarea {
  color: grey;
} */

label {
  display: block;
  text-align: left;
  font-style: italic;
  margin-left: 10%;
  color: var(--feature);
}
/* end form  */
footer {
 
  background-color: var(--dark);
  padding: 40px;
  text-align: center;
  width: 100%;
  margin-top: 30px;
}
footer a {
  color: var(--light);
  margin: 0 20px;
}
/* articles */
.author-name {
  text-transform: capitalize;
}

.article-container {
  display: grid;
  gap: 20px;
  padding: 20px 10% 50px;
  margin: 20px 0;
}

.article-card,
.one-article-card {
  background-color: var(--medium);
  padding: 20px;
  width: fit-content;
  margin: 20px auto;
}
.article-card p {
  margin-bottom: 40px;
}

.one-article-card {
  padding: 2% 5%;
}

.article-card img {
  margin-bottom: 5%;
}
/* login form */
#login-form input[type="text"],
#login-form input[type="password"] {
  width: 80%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
}

input.submit {
  background-color: var(--feature);
  color: white;
  padding: 14px 20px;
  margin: 8px auto 30px;
  border: none;
  cursor: pointer;
  width: 80%;
}

input.submit:hover {
  opacity: 0.8;
}
/* end loginform  */

/* link buttons  */

.buttons {
  background-color: var(--light);
  border: 1px solid #ccc;
  padding: 2px 20px;
  margin: 50px 0 30px;
  color: var(--feature);
  text-decoration: none;
  border-radius: 20px;
}

.active {
  background-color: var(--medium);
  border: 1px solid #ccc;
  padding: 2px 20px;
  margin: 50px 0 30px;
  color: var(--feature);
  text-decoration: none;
  border-radius: 20px;
}

.buttons:hover {
  background-color: var(--feature);
  color: var(--light);
}

.page-number-div {
  margin: 20px 0;
}

/* index buttons */
.index-buttons {
  color: var(--feature);
  text-decoration: none;
  display: block;
  padding: 20px;
  margin-bottom: 20px;
  max-width: 50%;
  box-shadow: 10px 10px 31px -14px rgba(0, 0, 0, 0.75);
  transition: padding 50ms;
  box-sizing: content-box;
}

.index-buttons:hover {
  padding: 21px;
}
/* homepage */
.welcome-p {
  padding: 20px 0 30px 0;
  margin: 0 20px 0 20px ;
  border-bottom: var(--feature) solid 1px;
}


/* homepage slider  */
#parent-container {
  
}

.carousel-container {

  height: 400px;
  position: relative;


}

.navigation-buttons .previous {
  position: absolute;
  z-index: 10;
  font-size: 25px;
  top: 60%;
  left: 10px;
  font-weight: 700;
}

.navigation-buttons .next {
  right: 10px;
  position: absolute;
  font-size: 25px;
  z-index: 10;
  top: 60%;
}

.navigation-buttons .nav-btn {
  background: rgba(255, 255, 255, 0.55);
  cursor: pointer;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
}

.navigation .nav-btn:hover {
  background: white;
}

/* carousel  */

.slider-carousel {
 
  margin: 20px 60px;
  transition: all 0.3s ease;

}
.slider-carousel img {
  width: 100%;
  transition: all 0.3s ease;
  border:8px solid var(--medium);

}

.images {
  background-color: var(--medium);
  position: absolute;
  display: none;
  margin: 0 auto;
}

.main {
  display: block;
  position: static;
}

.image-text {
  margin: 10px 10px 0 0;
  display: flex;
  flex-direction: column;
}

.image-text h3 {
margin-top: 10px;
  font-size: 30px;
  color: var(--feature);
}

.image-text h4 {
  margin-top: 0;
 
}

.image-text a {
  color: var(--feature);
  text-decoration: none;
 
}
.image-text a:hover {
  
  text-decoration: underline;
 
}


.overflow-hidden {
  max-height: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Adjust the number of lines to show */
  -webkit-box-orient: vertical;
}

.grid {display: grid;}

.grid-1-2 {grid-template-columns: 1fr}


/*=================================================*/
/*==548 px=*/
@media screen and (min-width: 548px) { 
  
  .grid-1-2 {grid-template-columns: 1fr 1fr}


}


/*=================================================*/
/*==768 px=*/
@media screen and (min-width: 768px) {
  /* nav */
  nav {
    height: 80px;
    background-color: var(--dark);
    transition: none;
  }

  .hamburger-btn {
    display: none;
  }

  .nav-list {
    position: static;
    margin: 0 auto;
    padding: 0;
    background-color: var(--dark);
    transition: none;
  }

  .nav-list li {
    margin: 20px;
    display: inline-block;
    opacity: 1;
    transition: none;
  }

  .nav-list li a {
    color: #939292;
  }

  /* end nav */

  article {
    max-width: 80%;
  }

  .article-container {
    grid-template-columns: repeat(2, 1fr);
  }

  #login-form input[type="text"],
  #login-form input[type="password"] {
    width: 50%;
  }
  #login-form input[type="submit"] {
    width: 50%;
  }
  
}

/*==996 px=*/
@media screen and (min-width: 996px) {
  .article-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
