<nav>
  <input type="checkbox" id="check" />
  <label for="check" class="hamburger-btn">
    <i class="fa-solid fa-bars"></i>
  </label>
  <ul class="nav-list">
    <li><a href="/">Home </a></li>
    <li><a href="/entries/1">All articles </a></li>
    <li><a href="/form/search">Search article</a></li>
  </ul>
</nav>
