<nav>
  <ul>
    <li>
      <a href="/entries/1">Home </a>
    </li>
    <li>
      <a href="/form/search">Search article</a>
    </li>
    <li>
      <a href="/logout">Logout</a>
    </li>
  </ul>
</nav>
