<nav>
    <ul>
      <li >
        <a  href=<%=`/admin/entries/${email}/1`%>>All your entries </a>
      </li>
      <li >
        <a  href=<%=`/admin/form/new/${email}`%> >Create New Entry</a>
      </li>
      <li>
      <a href="/logout">Logout</a>
    </li>
    </ul>
</nav>
